.row{
    display: flex;
    height:6.25%;
}
.col{
    background-color: white;
    border: black;
    width: 6.25%;
    margin: 0;
    padding: 0;
}
.hover{
    background-color: black;
    border: black;
}
#container{
    width: 800px;
    height:800px;
    border: solid;
}